[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
django-extensions = "*"
django-debug-toolbar = "*"
gunicorn = "*"
django-heroku = "*"
djangorestframework = "*"
django-filter = "*"
django-registration-redux = "*"
mimesis = "*"
werkzeug = "*"
nemesis = "*"

[dev-packages]

[requires]
python_version = "3.7"
