
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CodeSnippets</title>
 
</head>

{% block header %}

<nav>
                    <a href="{% url 'home' %}">Home</a>
                    {% if user.is_authenticated %}
                   
                        <a href="{% url 'auth_logout' %}">Logout</a>
                    
                    {% else %}
                  
                        <a href="{% url 'auth_login' %}">Login</a>
                   
                   
                        <a href="{% url 'registration_register' %}">Register</a>
                    
                    {% endif %}
                </nav>

 {% endblock header %}



{% block title %}

<h1>Snip>pet</h1>

{% endblock title %}

 

{% block content %}







<body>




</body> 
{% endblock content %}




</html> 