
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CodeSnippets</title>
 
</head>
{% block title %}

<h1>Snip>pet</h1>

{% endblock title %}

 {% block header %}
 {% endblock header %}

{% block content %}{% endblock content %}


{% load socialaccount %}


{% if user.is_authenticated %}
<p>Welcome {{ user.username }} !!!</p>
{% else %}
<a href="{% provider_login_url 'github' %}">Sign Up</a>
{% endif %} 







{% endblock header %}

<body>




</body> 





</html> {% endcomment %}