{% extends 'base.html '%}
{% load staticfiles %}

<script src="{% static 'js/mine.js' %}" defer></script>

{% block title %}
<h3>{{ % User.username %}} page</h3>
{% endblock title %}
{% block content %}

<div id="mysnippets">

<div id="add-snippet-modal" class="modal-is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
  <form>
    <div class="field">
    <label class="label" for="new-snippet-title">Title</label>
    <div class="control">
        <input class="input" type="text" id="new-snippet-title" name="title">
  

    <div class="field">
    <label class="label" for="new-snippet-language">Language</label>
    <div class="control">
    <div class="select">
      <select class="new-snippet-language" name="language"
        <option value="Python">Python</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Java">Java</option>
        <option value="Ruby">Ruby</option>
      </select>
    </div>
  </div>
</div>
<div class="field">
  <label class="label" for="new-snippet-content">Content</label>
  <div class="control">
    <input class="input" type="text" id="new-snippet-content" name="content">
  </div>
</div>
</div>
</div>
    <div class="field is-grouped">
    <div class="control">
    <button class="button is-link">Submit</button>
  </div>
  <div class="control">
    <button class="button is-text">Cancel</button>
  </div>
</div>
  </form>
    <!-- Any other Bulma elements you want -->
  </div>
  <button class="modal-close is-large" aria-label="close">Create a new snippet</button>
</div>





</div>
{% endblock content %} 