% extends 'base.html' %}

{% load staticfiles %}

{% block title %}

    Homepage - {{ block.super }}

{% endblock title %}

{% block content %}

   
   <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12"> 
         
            <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h3 class="title">{{ snippet.title| truncatewords:8 }}</h3>
              <img src="{{ snippet.author|gravatar:50 }}" />
              <p class="username">Author: {{ snippet.author }}</p>
              <h4 class="language">Language: {{ snippet.language }}</h4>
                <p><pre><code class={{ snippet.language }} class="card-text" id="snippet-content-{{snippet.id}}">{{ snippet.content }}</code></pre></p>
            </div>
          <div> 